fastapi
uvicorn
pydantic

langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-classic
langfuse

faiss-cpu
sentence-transformers
transformers
torch
python-dotenv
unstructured 
markdown